/*--- FONT ---*/

@font-face {
    font-family: 'Xolonium';
    src: url('fonts/Xolonium-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Xolonium_regular';
    src: url('fonts/Xolonium-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

*{
    -webkit-user-drag: none;
}

/*---SLIDES SYSTEM---*/

div.slide.visible{
    opacity: 1;
    z-index: 1;
}
div.slide.hidden{
    opacity: 0;
    z-index: -99;
}
div.slide.hidden #logo{
    display: none;
}
div.slide.hidden #logoLogin{
    display: none;
}

/*--- General ---*/

body{
    overflow-x: hidden;
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(pics/back.webp);
    background-color: black;
    background-size: cover;
    z-index: -10;
}

::-webkit-scrollbar{
    display: none;
    opacity: 0;
}

button:hover{
    transform: scale(1.05,1.05);
    cursor: pointer;
    z-index: 9999;
}

.errorText{
    max-width:20rem;
    height: auto;
    font-family: 'Xolonium_regular', sans-serif;
    font-weight: bold;
    color: red;
    margin-top: 1rem;
    opacity: 0;
}

h2 {
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    margin-left: 1rem;
    color: white;
}

#logo{
    max-width: 50rem;
    height: auto;
    position: fixed;
    top: 10rem; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

div.slide.hidden button{
    display: none;
}

/*--- rotation animation ---*/

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

div.planet{
    position: fixed;
    top: 110vh;
    left: 50%;
    width: 41rem;
    height: 41rem;
    background-image: url('pics/planetEarth.webp');
    background-size: cover;
    transform: translate(-50%, -50%);
    animation: rotate 100s linear infinite;
}

/*div.shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 30rem;
    height: 30rem;
    background-image: url('pics/planetShadow.webp');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%,-50%);
}*/

/*--- Landing Page ---*/
#landingPageText{ /*--- DA QUI MANUTENZIONE DEL CSS!---*/
    position: fixed;
    left: 48%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 45%;
    text-shadow: 2px 2px 2px black;
}

/*---LoginPage---*/

#logoLogin{

    max-width: 50rem;
    height: auto;
    position: fixed;
    top: 9rem; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: top 2s ease, left 2s ease;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
}

div.slide.visible #planetLogin {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 2s ease, left 2s ease;
    z-index: -1;
}

/*div.slide.hidden #shadowLogin{
    top: 32.5rem;
    left: 34%;
    transform: translate(-50%,-50%);
    transition: top 2s ease, left 2s ease;
    transform: rotate(180deg);
    opacity: 0;
    z-index: 0;
}

div.slide.visible #shadowLogin{
    top: 18.9%;
    left: 34%;
    transform: translate(-50%,-50%);
    transform: rotate(180deg);
    transition: top 2s ease, left 2s ease;
    z-index: 0;
}*/

div.slide.visible #log_reg_back{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0, 0, 0.75);
    transition: 1s ease-in;
    width: 27%; /* Adjust width */
    height: 35%; /* Adjust height */
    padding: 1.5%; /* Adjust padding */
    border-radius: 2rem;
    text-align: center;
    z-index: 0;
}

div#log_reg_back .content {
    opacity: 1;
    z-index: 1;
}

input.log_reg_input{
    font-family: 'Xolonium_regular', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1.3em;
    height: 100%;
    width: 90%;
    background-color: rgba(30, 30, 30, 0.85);
    border: none;
    padding: 2%;
    border-radius: 0.4rem;
    margin-top: 6%;
}

.buttons_log_reg{
    position: absolute;
    top: 85%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.buttons_log_reg button{
    position: relative;
    background-color: #0A205A;
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    width: 40%;
    height: 20%;
    font-size: 1.4rem;
    padding: 3%;
    margin-right: 4%;
    margin-left:  4%;
    border: none;
    border-radius: 0.4rem;
    z-index: 1;
}

/*--- Register Page ---*/

#logoReg{
    height: 15%;
    position: fixed;
    top: 15%;
    left: 49.8%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    border: none;
    border-radius: 1rem;
}

div.slide.hidden #planetStatic {
    display: none;
}

div.slide.visible #planetStatic {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
div.slide.hidden #planetStatic2 {
    display: none;
}

div.slide.visible #planetStatic2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

div.slide.hidden #registerPage_back{
    display: none;
}

div.slide.visible #registerPage_back{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.75);
    transition: 1s ease-in;
    width: 27%;
    height: 42%;
    padding: 1.5%;
    border-radius: 2rem;
    text-align: center;
    z-index: 0;
}

.content #registerPage_back{
    opacity: 1;
    z-index: 1;
}

.register_buttons{
    position: absolute;
    top: 85%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.register_buttons button{
    background-color: #0A205A;
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    width: 40%;
    height: 20%;
    font-size: 1.4rem;
    padding: 3%;
    margin-right: 4%;
    margin-left:  4%;
    border: none;
    border-radius: 0.4rem;
    z-index: 1;
}

input.register_input{
    font-family: 'Xolonium_regular', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1.3em;
    height: 100%;
    width: 90%;
    background-color: rgba(30, 30, 30, 0.85);
    border: none;
    padding: 2%;
    border-radius: 0.4rem;
    margin-top: 6%;
}

/*--- Save Page ---*/

div.slide.visible #saves_back{
    position: fixed;
    top: 55%;
    left: 49.8%;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0, 0, 0.75);
    width: 20%;
    height: 44%; 
    padding: 1%;
    padding-top: 0.5%;
    border-radius: 1rem;
    text-align: center;
    z-index: 0;
}

.save-box {
    width: auto;
    height: 5rem;
    margin: 1rem auto;
    background-color: #111525;
    opacity: 65%;
    color: white;
    font-family: 'Xolonium_regular', sans-serif;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid gray;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.save-box.new-save {
    background-color: #1E1E1E;
    opacity: 70%;
    font-size: 1.5rem;
    font-weight: bold;
}

div.slide.hidden #saves_back{
    display: none;
}

/*--- Market Home ---*/

div.slide.hidden .market_back {
    display: none;
}

div.slide.visible .market_back{
    margin: 0.5rem;
    background-color: rgba(11, 21, 59, 0.75);
    border-radius: 2rem;
    z-index: 0;
}

div.slide.visible #best_stock {
    transform: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 39rem;
    width: 96%;
    padding: 1.25rem;
}

div.slide.visible #singleStock {
    transform: none;
    margin: 1rem;
    height: 64%;
    padding: 1.25rem;
}

div.slide.visible #rises_and_falls{
    display: flex;
    gap: 3rem;
}

div.slide.visible #rising_stocks {
    overflow-y: auto;
    transform: none;
    margin: 0.5rem;
    height: 27rem;
    width: 46%;
    padding-left: 1.25rem;
}

div.slide.visible #declining_stocks {
    overflow-y: auto;
    transform: none;
    margin: 0.5rem;
    height: 58%;
    width: 46%;
    padding-left: 1.25rem;
}

div.slide.visible #rises_falls{
    display: flex;
    gap: 3rem;
}

div.slide.visible #relativeStrenght {
    overflow-y: auto;
    transform: none;
    margin: 1rem;
    height: 64%;
    padding-left: 1.25rem;
}

div.slide.visible #accessibility{
    position: absolute;
    top: 0.3%;
    left: 70%;
    bottom: 78%;
    right: 1%;
    transform: none;
    height: 10rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    padding-bottom: 1.1rem;
    background-color: rgba(0,0,0,0.80);
    border-radius: 1.5rem;
    border: 0.2rem solid rgba(11, 21, 59, 0.75);
    z-index: 9999;
}

div.slide.visible #sessionInfo{
    display: flex;
    width: 100%;
}

div.slide.visible #accessibility h4,h5{
    margin: 1rem;
    font-family: "Xolonium-Regular";
    font-weight: normal;
}

#my_stocks{
    background-color: #0A205A;
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
    margin: 1.1rem;
    border: none;
    cursor: pointer;
    border-radius: 0.4rem;
    z-index: 2;
}

#my_stock_pic{
    padding-left: 0.5rem;
    width: 1rem; 
    height: auto;
}

#logoHome{
    margin-top: 0.5rem;
    width: 24rem;
    top: 2%;
}

.time_buttons{
    margin: 1rem;
    margin-left: 4rem;
}

.time_buttons button{
    background-color: #0A205A;
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    width: 4rem;
    height: 2rem;
    margin-top: 1.1rem;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    font-size: 1em;
    border: #1E1E1E;
    border-style: solid;
    border-width: 0.1rem;
    transition: 1.5s ease-in;
    border-radius: 0.6rem;
    z-index: 1;
}

#rising_stocks h3{
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    top: 0%;
}

#declining_stocks h3{
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    top: 0%;
}

#relativeStrenght h3{
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    top: 0%;
}

#stock_info{
    display: flex;
}

div.stock_header{
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    width: auto;
}

.bestStock_value{
    margin: 1rem;
}

.bestStock_percentage{
    margin: 1rem;
    color: rgb(0, 190, 0);
}

.graf #bestStock_graf{
    width: 98%;
    height: 20rem;
    margin: 1rem;
    background-color: black;
}

div.rising{
    width: auto;
    margin-top: 12%;
    border-bottom-style: solid;
    border: #FFFFFF;
}

div.rising tr,td{
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    padding: 0.5%;
}

/*--- StockPage ---*/

#stockPage .market_back{
    background-color: rgba(11, 21, 59, 0.75);
    border-radius: 2rem;
}

div.slide.hidden #accessibility{
    display: none;
}

.graf #stock_graf{
    width: 98%;
    height: 16rem;
    margin-top: 5rem;
    margin: 1rem;
    background-color: black;
}

.graf #relstrenght_graf{
    width: 97%;
    height: 17rem;
    margin: 1rem;
    background-color: black;
}

.stockInfo {
    display: flex;
}

div.slide.visible .buySell{
    background-color: #0A205A;
    border-radius: 2rem;
    border: none;
    opacity: 0.8;
}

div.slide.visible #n_actionsToBuy{
    height: 2rem;
    background-color:rgba(11, 21, 59, 0.75);
    color: white;
    border: none;
    border-radius: 2rem;
    margin: 1rem;
}

div.slide.visible #n_actionsToSell{
    height: 2rem;
    background-color:rgba(11, 21, 59, 0.75);
    color: white;
    border: none;
    border-radius: 2rem;
    margin: 1rem;
}

div.slide.visible #buyButton{
    background: none;
    color: white;
    border: none;
    font-family: 'Xolonium',sans-serif;
    font-size: 1.5rem;
    margin: 1rem;
}

div.slide.visible #sellButton{
    background: none;
    color: white;
    border: none;
    font-family: 'Xolonium',sans-serif;
    font-size: 1.5rem;
    margin: 1rem;
}

div.slide.visible #stockActions{
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

div.slide.visible #all_in{
    background-color: #0A205A;
    color:white;
    font-family: 'Xolonium', sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    width: 7rem;
    opacity: 0.8;
}
/*--- Sidepanle ---*/
/* The sidepanel menu */
.sidepanel {
    height: 250px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

/*--- profilePage ---*/

.backHome{
    position: absolute;
    top:0; left:0;
    background: #0A205A;
    width: 5rem;
    height: 3rem;
    border: none;
    border-radius: 0.7rem;
    padding: 0.5rem;
    z-index: 9999;
}
div.slide.hidden .profile_back {
    display: none;
}

div.slide.visible .profile_back{
    width: 92%;
    height: 40%;
    background-color: rgba(11, 21, 59, 0.75);
    border-radius: 2rem;
    z-index: 0;
}

div.slide.visible #profile {
    display: flex;
    position: absolute;
    top: 5%;
    left: 0;
    transform: none;
    margin-bottom: 1rem;
    padding: 1.25rem;
    margin-left: 3rem; margin-right: 3rem;
    margin-top: 2rem; margin-bottom: 2rem;
    height: 35vh;
}

div.slide.visible #portfolio {
    display: flex;
    transform: none;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 1.25rem;
    margin-left: 3rem; margin-right: 3rem;
    margin-top: 2rem; margin-bottom: 2rem;
    height: 35vh; 
}
div.slide.visible #accessibility_profile{
    position: absolute;
    top: 4%;
    left: 70%;
    bottom: 78%;
    right: 2%;
    transform: none;
    height: auto;
    padding: 1.25rem;
    z-index: 9999;
}

div.slide.visible #logoProfile{
    width: 100%;
    height: auto;
    top: 2%;
    margin-left: 2rem;
}

div.slide.hidden #logoProfile{
    display: none;
}

.profile_back #riquadroInterno{
    position: absolute;
    left: 10%;
    right: 20%;
    top: 10%;
    bottom: 10%;
    width: 80%;
    height: 80%;
    background:rgba(21, 145, 234, 0.1);
}
#riquadroInterno img{
    width: auto;
    height: 90%;
    margin:1rem;
}



@media screen and (max-width:45rem) {
    #logoReg,#logo,#logoLogin{
        width: 25rem;
        height: auto;
    }
    #landingPageText{
        font-size: 1rem;
    }
    
    div.slide.visible #saves_back{
        margin:0;
        width:fit-content;
        height: fit-content;
    }
    .save-box {
        height: auto;
        font-size: 1.0em;
        padding: 2rem;
    }
    .save-box.new-save {
        font-size: 1.0rem;
        font-weight: bold;
    }
    .save-box img{
        width: 1rem;
        height: auto;
    }

    div.slide.visible #log_reg_back{
        position: fixed;
        top: 50%;
        left: 50%;
        width: 27%; /* Adjust width */
        height: 35%; /* Adjust height */
        padding: 1.5%; /* Adjust padding */
        text-align: center;
    }
    input.log_reg_input{
        font-size: 1.0em;
        height: 100%;
        width: 90%;
        border: none;
        padding: 2%;
        margin-top: 6%;
    }
    .buttons_log_reg button{
        display: block;
        width: 100%;
        height: 20%;
        font-size: 1.1rem;
        margin-right: none;
        margin-left: none;
        margin-bottom:0.7rem;
    }
    .errorText{
        margin: 0;
        font-size: 1rem;
    }
}