/*--- FONT ---*/
@font-face {
    font-family: 'Xolonium';
    src: url('fonts/Xolonium-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Xolonium_regular';
    src: url('fonts/Xolonium-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
/*------------*/

/*---SLIDES SYSTEM---*/
div.slide.visible{
    opacity: 1;
    z-index: 1;
}

div.slide.hidden{
    opacity: 0;
    z-index: -99;
}
/*-------------------*/

body {
    margin: 0;
    padding: 0;
    background-color: rgb(49, 1, 107);
    color: #FFFFFF;
    background-size: cover;
}





h2 {
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    margin-left: 1em;
    color: white;
}

/*rotation animation*/
@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
div.planet{
    position: absolute;
    top: 48rem;
    left: 50%;
    width: 33em; 
    height: 33em;
    background-image: url('pics/planetEarth.png');
    background-size: cover;
    transform: translate(-50%, -50%); 
    animation: rotate 100s linear infinite; 
}
/*------------------*/

#logo{
    height: 45em;
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#landingPageText{
    position: absolute;
    left: 48%;
    top: 40%;
    transform: translate(-50%, -50%);
    opacity: 50%;
    text-shadow: 2px 2px 2px black;
}

div.slide.hidden #planetLogin {
    top: 48rem;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 3s ease, left 3s ease;
    z-index: -1;
}

div.slide.visible #planetLogin {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 3s ease, left 3s ease;
    z-index: -1;
}

div.slide.hidden #log_reg_back {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#1E1E1E;
    opacity: 0%;
    transition: 3s ease-in;
    width: 25rem; /* Adjust width */
    height: 17rem; /* Adjust height */
    padding: 1.25rem; /* Adjust padding */
    padding-top: 7rem;
    border-radius: 15px;
    text-align: center; 
    z-index: 0;
}

div.slide.visible #log_reg_back{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0, 0, 0.75);
    transition: 3s ease-in;
    width: 25rem; /* Adjust width */
    height: 17rem; /* Adjust height */
    padding: 1.25rem; /* Adjust padding */
    padding-top: 7rem;
    border-radius: 15px;
    text-align: center; 
    z-index: 0;
}

div#log_reg_back .content {
    opacity: 1; 
    z-index: 1; 
}

.buttons_log_reg button{
    background-color: #0A205A;
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    z-index: 1;
}

h4.errorText{
    font-family: 'Xolonium_regular', sans-serif;
    font-weight: bold;
    color: red;
}

input.log_reg_input{
    font-family: 'Xolonium_regular', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1.5em;
    background-color: rgba(30, 30, 30, 0.85);
    border: none;
    border-radius: 5px;
}