/*--- FONT ---*/

@font-face {
    font-family: 'Xolonium';
    src: url('fonts/Xolonium-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Xolonium_regular';
    src: url('fonts/Xolonium-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

*{
    -webkit-user-drag: none;
}
/*---SLIDES SYSTEM---*/

div.slide.visible{
    opacity: 1;
    z-index: 1;
}
div.slide.hidden{
    opacity: 0;
    z-index: -99;
}
div.slide.hidden #logo{
    display: none;
}
div.slide.hidden #logoLogin{
    display: none;
}

/*--- General ---*/

body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(pics/back.webp);
    background-color: black;
    background-size: cover;
    z-index: -10;
}

::-webkit-scrollbar{
    display: none;
    opacity: 0;
}

button:hover{
    transform: scale(1.05,1.05);
    cursor: pointer;
    z-index: 9999;
}

h4.errorText{
    font-family: 'Xolonium_regular', sans-serif;
    font-weight: bold;
    color: red;
    opacity: 0;
}

h2 {
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    margin-left: 1em;
    color: white;
}

#logo{
    width: 50%;
    height: auto;
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

div.slide.hidden button{
    display: none;
}

/*--- rotation animation ---*/

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

div.planet{
    position: absolute;
    top: 110%;
    left: 50%;
    width: 41em; 
    height: 41em;
    background-image: url('pics/planetEarth.webp');
    background-size: cover;
    transform: translate(-50%, -50%);
    animation: rotate 100s linear infinite;
}

/*div.shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 30rem;
    height: 30rem;
    background-image: url('pics/planetShadow.webp');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%,-50%);
}*/

/*--- Landing Page ---*/

#landingPageText{
    position: absolute;
    left: 48%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 45%;
    text-shadow: 2px 2px 2px black;
}

/*---LoginPage---*/

#logoLogin{
    height: 7em;
    position: absolute;
    top: 15%;
    left: 49.8%;
    transform: translate(-50%, -50%);
    transition: top 2s ease, left 2s ease;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    border: none;
    border-radius: 1rem;
}

div.slide.hidden #planetLogin {
    top: 48rem;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 2s ease, left 2s ease;
    z-index: -1;
}

div.slide.visible #planetLogin {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 2s ease, left 2s ease;
    z-index: -1;
}

div.slide.hidden #shadowLogin{
    top: 32.5rem;
    left: 34%;
    transform: translate(-50%,-50%);
    transition: top 2s ease, left 2s ease;
    transform: rotate(180deg);
    opacity: 0;
    z-index: 0;
}

div.slide.visible #shadowLogin{
    top: 18.9%;
    left: 34%;
    transform: translate(-50%,-50%);
    transform: rotate(180deg);
    transition: top 2s ease, left 2s ease;
    z-index: 0;
}

div.slide.hidden #log_reg_back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0, 0, 0.75);
    opacity: 0%;
    transition: 1s ease-in;
    width: 25rem; 
    height: 17rem; 
    padding: 1.25rem; 
    border-radius: 2rem;
    text-align: center;
    z-index: 0;
}

div.slide.visible #log_reg_back{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0, 0, 0.75);
    transition: 1s ease-in;
    width: 25rem; /* Adjust width */
    height: 17rem; /* Adjust height */
    padding: 1.25rem; /* Adjust padding */
    border-radius: 2rem;
    text-align: center;
    z-index: 0;
}

div#log_reg_back .content {
    opacity: 1;
    z-index: 1;
}

input.log_reg_input{
    font-family: 'Xolonium_regular', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1.3em;
    height: 2.5rem;
    width: 22rem;
    background-color: rgba(30, 30, 30, 0.85);
    border: none;
    padding-left: 1rem;
    border-radius: 0.4rem;
    margin-top: 1.7rem;
}

.buttons_log_reg button{
    background-color: #0A205A;
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
    font-size: 1.4em;
    margin-right: 1.1rem;
    margin-left:  1.1rem;
    border: none;
    border-radius: 0.4rem;
    z-index: 1;
}

/*--- Register Page ---*/

#logoReg{
    height: 7em;
    position: absolute;
    top: 15%;
    left: 49.8%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    border: none;
    border-radius: 1rem;
}

div.slide.hidden #planetStatic {
    display: none;
}

div.slide.visible #planetStatic {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
div.slide.hidden #planetStatic2 {
    display: none;
}

div.slide.visible #planetStatic2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

div.slide.hidden #registerPage_back{
    display: none;
}

div.slide.visible #registerPage_back{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.75);
    transition: 1s ease-in;
    width: 25rem;
    height: 20rem;
    padding: 1.25rem;
    border-radius: 2rem;
    text-align: center;
    z-index: 0;
}

.content #registerPage_back{
    opacity: 1;
    z-index: 1;
}

.register_buttons button{
    background-color: #0A205A;
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
    margin-top: 1.1rem;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    font-size: 1.4em;
    border: none;
    transition: 1.5s ease-in;
    border-radius: 0.4rem;
    z-index: 1;
}

input.register_input{
    font-family: 'Xolonium_regular', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1.3em;
    height: 2.5rem;
    width: 22rem;
    background-color: rgba(30, 30, 30, 0.85);
    border: none;
    padding-left: 1rem;
    border-radius: 0.4rem;
    margin-top: 1.2rem;
}

.spec_gen{
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 2rem;
}

/*--- Save Page ---*/

div.slide.visible #saves_back{
    position: absolute;
    top: 26.5rem;
    left: 49.8%;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0, 0, 0.75);
    width: 18rem; 
    height: 20rem; 
    padding: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 15px;
    text-align: center;
    z-index: 0;
}

.save-box {
    width: 15rem;
    height: 5rem;
    margin: 1rem auto;
    background-color: #111525;
    opacity: 65%;
    color: white;
    font-family: 'Xolonium_regular', sans-serif;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid gray;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.save-box.new-save {
    background-color: #1E1E1E;
    opacity: 70%;
    font-size: 1.5rem;
    font-weight: bold;
}

div.slide.hidden #saves_back{
    display: none;
}

/*--- Market Home ---*/

div.slide.hidden .market_back {
    display: none;
}

div.slide.visible .market_back{
    background-color: rgba(11, 21, 59, 0.75);
    border-radius: 2rem;
    z-index: 0;
}

div.slide.visible #best_stock {
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 2rem;
    bottom: 22.2rem;
    transform: none;
    margin-bottom: 1rem;
    height: 30rem;
    padding: 1.25rem;
}

div.slide.visible #rising_stocks {
    overflow: auto;
    position: absolute;
    top: 35.2rem;
    left: 1rem;
    right: 47rem;
    bottom: 1rem;
    transform: none;
    margin: 0;
    height: 27rem;
    padding-left: 1.25rem;
}

div.slide.visible #declining_stocks {
    overflow: auto;
    position: absolute;
    top: 35.2rem;
    left: 47rem;
    right: 2rem;
    bottom: 1rem;
    transform: none;
    margin: 0;
    height: 27rem;
    padding-left: 1.25rem;
}

div.slide.visible #accessibility{
    position: absolute;
    top: 0.3%;
    left: 70%;
    bottom: 78%;
    right: 1%;
    transform: none;
    height: auto;
    padding: 1.25rem;
    background-color: rgba(0,0,0,0.80);
    border-radius: 1.5rem;
    border: 0.2rem solid rgba(11, 21, 59, 0.75);
    z-index: 1;
}

#my_stocks{
    position: absolute;
    right: 0.1%;
    bottom: 10%;
    background-color: #0A205A;
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
    margin-right: 1.1rem;
    margin-left:  1.1rem;
    border: none;
    cursor: pointer;
    border-radius: 0.4rem;
    z-index: 2;
}

#my_stock_pic{
    padding-left: 0.5rem;
    width: 1rem; 
    height: auto;
}

#logoHome{
    position: absolute;
    width: 24rem;
    top: 2%;
}

.time_buttons{
    position: absolute;
    top: 30%;
    left: 5%;
    width: auto;
}

.time_buttons button{
    background-color: #0A205A;
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    width: 4rem;
    height: 2rem;
    margin-top: 1.1rem;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    font-size: 1em;
    border: #1E1E1E;
    border-style: solid;
    border-width: 0.1rem;
    transition: 1.5s ease-in;
    border-radius: 0.6rem;
    z-index: 1;
}

#rising_stocks h3{
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    position: absolute;
    top: 0%;
}

#declining_stocks h3{
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    position: absolute;
    top: 0%;
}

div.bestStock_header{
    color: white;
    font-family: 'Xolonium', sans-serif;
    font-weight: bold;
    position: absolute;
    width: 40rem;
}

.graf #bestStock_graf{
    position: absolute;
    top: 40%;
    left: 5%;
    width: 92%;
    height: 16rem;
    margin: 1rem;
    background-color: black;
}

/*--- profilePage ---*/





@media screen and (max-width:45rem) {
    #logoReg,#logo,#logoLogin{
        width: 25rem;
        height: auto;
    }
    #landingPageText{
        font-size: 1rem;
    }

}